<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- 登録情報の表示 -->
      <h2>登録情報</h2>
      <%= link_to '編集する', edit_customer_path(current_customer), class: "btn btn-success" %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @customer.last_kana_name %> <%= @customer.first_kana_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.zip_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>


</div>
</div>
</div>