<div class="container">
  <div class="row">
    <div class="col-md-4">
<h1>投稿フォーム</h1>
<table class="table table-bordered">
<%= form_with model: @post do |f| %>
 <tr>
  <td>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  </td>
  </tr>
  
   <tr>
  <td>
    <h4>道具名</h4>
  <%= f.text_field :item_name %>
  </td>
   </tr>
   
    <tr>
   <td> 
     <h4>説明</h4>
  <%= f.text_area :description %>
  </td>
  
  <tr>
  <td><%= f.submit '投稿',class: 'btn btn-primary' %></td>
  </tr>
</table>
<% end %>
</div>
</div>
</div>