<div class="container">
  <div class="row">
    <div class="col-2 my-3">
  <h1 class="page-title">投稿フォーム</h1>
  
      <% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

       <%= form_with model: @post do |f| %>
      <table class="table table-bordered">
          <tr>
            <td>
              <h4>画像</h4>
              <%= f.file_field :image, accept: "image/*" %>
            </td>
          </tr>
          <tr>
            <td>
              <h4>道具名</h4>
              <%= f.text_field :item_name %>
            </td>
          </tr>
          <tr>
            <td>
              <h4>説明</h4>
              <%= f.text_area :description %>
            </td>
          </tr>
          <td><%= render "public/posts/rate", post: @post %></td>
          <tr>
            <td><%= f.submit '          投稿          ', class: 'btn btn-primary btn-lg btn-hover-effect' %></td>
          </tr>
      </table>
     <% end %>
    </div>
  </div>
</div>
